<div class="row">
  <div ng-repeat ="prj in projects">
    <div class="col-xs-12 col-md-4">
      <div class="panel-wrapper">
        <div class="panel-title">
          PDX :  <span class="badge">6</span> Open Positions
        </div>
        <div class="panel-stage">
          <div class="row">
            <div class="col-xs-8 col-md-6">
              <div class="panel-wrapper">
                <div class="panel-title">
                  Red Days
                </div>
                <div class="panel-stage">
                  <div class="red-days">0</div>
                </div>
              </div>
            </div>
            <div class="col-xs-8 col-md-6">
              <div class="panel-wrapper">
                <div class="panel-title">
                  Billable People
                </div>
                <div class="panel-stage">
                  <img src="../../images/pie-chart.png" class="img-responsive">
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="panel-wrapper">
                <div class="panel-title">
                  People
                </div>
                <div class="panel-stage">
                  Anil, ..
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="panel-notes">
          Owned by Anil
        </div>
      </div>
    </div>
  </div>
</div>
