<div class="container">
  <form role="form">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" ng-model="org.name">
    </div>
    <div class="form-group">
      <label for="owner">Owner:</label>
      <input type="text" class="form-control" id="owner" ng-model="org.owner" required>
    </div>
    <div class="form-group">
      <label for="total">Total Headcount:</label>
      <input type="text" class="form-control" id="total" ng-model="org.noOfPeople">
    </div>
    <div class="form-group">
      <label for="billable">Billable:</label>
      <input type="text" class="form-control" id="billable" ng-model="org.billableCount">
    </div>
    <div class="form-group">
      <label for="bench">Bench Strength:</label>
      <input type="text" class="form-control" id="bench" ng-model="org.benchCount">
    </div>
    <button class="btn btn-primary" ng-click="addOrganization()"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Add</button>
  </form>
</div>
