<div class="col-xs-12 col-md-4">
  <div class="panel-wrapper">
    <div class="panel-title">
      <a ui-sref="organizations.edit({'orgId':organization._id})">{{organization.name}}</a>
      <div class="">view</div>
    </div>
    <div class="panel-stage">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel-wrapper">
            <div class="panel-title">
              Billable Vs Bench
            </div>
            <div class="panel-stage">
              <img src="../images/area-chart.png" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-notes">
      {{organization.owner}}
    </div>
  </div>
</div>
